<!DOCTYPE html>
<html>
  <head>
    <title>Francisco Cambim | Web Developer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="images/pf-nobg.png">
    <script src="https://kit.fontawesome.com/3ed3f076ae.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
